{% extends 'base.html' %}{% block title %}StreamLoad{% endblock %}{% block extra-head %}
{% endblock %}
{% block content %} 
<html>

<head>

</head>

<body>

<body>
    <div class="container" id="principal">
        <a class="btn btn-info btn-block btn-responsive text-center" href="{% url 'usuaris:registre'%}"><span></span>¿Encara no tens compte?</a>
        <a class="btn btn-info btn-block btn-responsive text-center" href="{% url 'usuaris:login'%}"><span></span>Login</a>
    </div>
    <div>
        
        <img src="/static/imatges/logo2.PNG"></img>
        
    </div>
</body>
</html>
{% endblock %}